body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, form {
  max-width: 100%;
}

#info {
  text-align: center;
  padding: 10px;
  z-index: 10;
  width: 100%;
  position: absolute;
  color: #fff;
}

#game {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 10;
}

#no-webgl {
  background: rgb(202, 60, 60);
  padding: 0.5em;
}

#chat-window {
  position: absolute;
  width: 30vw;
  height: 40vh;
  max-width: 300px;
  max-height: 400px;
  left: 0px;
  top: 0px;
  background: rgba(100, 200, 50, 0.5);
  border-radius: 5px;
  z-index: 50;

  .fa {
    float: right;
    margin: 0.2em;
  }

  form {
    margin: 0.5em;
  }
}

#messages {
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 100%;
}

.hide {
  display: none;
}
