@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

#info {
  text-align: center;
  padding: 10px;
  z-index: 10;
  width: 100%;
  position: absolute;
  color: #fff;
}

.error {
  background: #EA3E19;
  padding: 0.5em;
}

.hide {
  display: none;
}
